body{

font-family: Arial, sans-serif;

background:#f5f7fa;

padding:30px;

}

h2{

margin-top:0;

}

input{

padding:8px;

width:250px;

}

button{

padding:8px 14px;

background:#2ea3ff;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#1b82d1;

}

table{

margin-top:20px;

border-collapse:collapse;

width:100%;

}

th,td{

padding:10px;

text-align:left;

}

th{

background:#2ea3ff;

color:white;

}